@model GalleryViewModel
@{
    //ViewBag.Title = Model.Title;
}
<style type="text/css">
    
    .textwidget {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
/* mixin for multiline */
.block-with-text {
  overflow: hidden;
  position: relative;
  line-height: 1.2em;
  max-height: 5.0em;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
}
.block-with-text:before {
  content: "...";
  position: absolute;
  right: 0;
  bottom: 0;
}
.block-with-text:after {
  content: "";
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
}
.thumb-crop {
  display: inline-block;
  height: 100px;
  overflow: hidden;
}
.thumb-crop img {
  width: 120px;
}

</style>

<div class="container">
    <h4>Best rated</h4>
    @for (int i = 0; i < Model.listBestRated.Count; i++) /* TODO Min or Max */
    {
        <div class="searchresult row">
            <div class="col-sm-2 padded thumb-crop" style="border: 2px solid #4CAF50;">
                <img src=@Model.GetCanvas(@Model.listBestRated[i]) style="float: left;">
            </div>
            <div class="col-sm-8 padded " style="border: 2px solid red; overflow: auto;">
                <span class=" searchresult-title">@Html.ActionLink(@Model.listBestRated[i].Title, "Index", "Wiki", new { id = @Model.listBestRated[i].Id, title = @Model.listBestRated[i].Title }, null)</span><br />
                <span class="searchresult-summary">@MvcHtmlString.Create(@Model.listBestRated[i].Summary)...</span><br />
                <span>
                    <span class="searchresult-date">@Model.listBestRated[i].CreatedBy - @Model.listBestRated[i].PublishedOn.ToString("dd MMM yyyy") - nb views=@Model.listBestRated[i].NbView</span>
                    <span class="searchresult-date">@MvcHtmlString.Create(@Model.EncodePageRating(@Model.listBestRated[i]))</span>
                </span>
            </div>
        </div>
    }
    <h4>Last pages published</h4>
    @for (int i = 0; i < Model.listMostRecent.Count; i++) /* TODO Min or Max */
    {
        <div class="searchresult row">
            <div class="col-sm-2 padded thumb-crop" style="border: 2px solid #4CAF50;">
                <img src=@Model.GetCanvas(@Model.listMostRecent[i]) style="float: left;">
            </div>
            <div class="col-sm-8 padded " style="border: 2px solid red; overflow: auto;">
                <span class=" searchresult-title">@Html.ActionLink(@Model.listMostRecent[i].Title, "Index", "Wiki", new { id = @Model.listMostRecent[i].Id, title = @Model.listMostRecent[i].Title }, null)</span><br />
                <span class="searchresult-summary">@MvcHtmlString.Create(@Model.listMostRecent[i].Summary)...</span><br />
                <span>
                    <span class="searchresult-date">@Model.listMostRecent[i].CreatedBy - @Model.listMostRecent[i].CreatedOn.ToString("dd MMM yyyy") -@Model.listMostRecent[i].NbView views - </span>
                    <span class="searchresult-date">@MvcHtmlString.Create(@Model.EncodePageRating(@Model.listMostRecent[i]))</span>
                </span>
            </div>
        </div>
    }
    <h4>Most viewed pages</h4>
    @for (int i = 0; i < Model.listMostViewed.Count; i++) /* TODO Min or Max */
    {
        <div class="searchresult row">
            <div class="col-sm-2 padded thumb-crop" style="border: 2px solid #4CAF50;">
                <img src=@Model.GetCanvas(@Model.listMostViewed[i]) style="float: left;">
            </div>
            <div class="col-sm-8 padded " style="border: 2px solid red; overflow: auto;">
                <span class=" searchresult-title">@Html.ActionLink(@Model.listMostViewed[i].Title, "Index", "Wiki", new { id = @Model.listMostViewed[i].Id, title = @Model.listMostViewed[i].Title }, null)</span><br />
                <span class="searchresult-summary">@MvcHtmlString.Create(@Model.listMostViewed[i].Summary)...</span><br />
                <span>
                    <span class="searchresult-date">@Model.listMostViewed[i].CreatedBy - @Model.listMostViewed[i].CreatedOn.ToString("dd MMM yyyy") - nb views=@Model.listMostViewed[i].NbView</span>
                    <span class="searchresult-date">@MvcHtmlString.Create(@Model.EncodePageRating(@Model.listMostViewed[i]))</span>
                </span>
            </div>
        </div>
    }
</div>

