@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

@section ViewHistoryLink
{
    <div id="viewhistory">@Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, null)</div>
}

@Html.DialogPartial("PageRating", Model)


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <div style="background-color: lightseagreen; border-color: black; border: solid">
                <div id="pagetitle" class="row">
                    <div class="col-sm-8" style="background-color: greenyellow;">
                        <h1 class="pagetitle">@Model.Title MJO_HOME..Index.html</h1>
                    </div>
                    <div id="pageratingvalue" class="col-sm-4" style="background-color: greenyellow;">
                        @if (@Model.NbRating > 0)
                        {
                            @MvcHtmlString.Create(@Model.EncodePageRating32(@Model.TotalRating / @Model.NbRating))
                        }
                        else
                        {
                            @MvcHtmlString.Create(@Model.EncodePageRating32(0))
                        }
                        @SiteStrings.Page_Info_NbViews @Model.NbView;
                    </div>
                </div>
                <div id="pagecontent" itemscope itemtype="http://schema.org/Article">
                    <meta itemprop="dateCreated" content="@Model.CreatedOn"/> <!-- MJO not used -->
                    <meta itemprop="creator" content="@Model.CreatedBy"/>
                    <meta itemprop="dateModified" content="@Model.PublishedOn"/>
                    <meta itemprop="keywords" content="@Model.SpaceDelimitedTags()"/>
                    @MvcHtmlString.Create(Model.ContentAsHtml)
                </div>
                <hr>
                <div id="pagealert" class="container" pageid="@Model.Id" value="5">
                    <div id="pageinfo" pageid="@Model.Id">
                        <b>@SiteStrings.Page_Info_CreatedBy2</b>
                        @Model.CreatedBy<b>@SiteStrings.Page_Info_On</b>
                        @Model.CreatedOn.Date.ToString("dd/MM/yyyy")<b>. @SiteStrings.Page_Info_PublishedOn</b>
                        @Model.PublishedOn.Date.ToString("dd/MM/yyyy")<br/>
                        <a href="@Url.Action("CommentPage", "Comment", new { id = @Model.Id })" clas class="btn btn-default btn-sm">
                            RATE TODO
                        </a>
                        <a id="pagealert-button" class="btn btn-default btn-sm" href="javascript:;">Alert</a>
                        <a id="pageshare-button" class="btn btn-default btn-sm" href="javascript:;">Share</a>
                    </div>
                    <button id="buttoncanvas" type="button" class="btn btn-primary">CANVAS</button>
                    <hr>
                </div>
                <br/>
                <div id="pagecomments" style="background-color: yellow; border-color: black; border: solid">
                    <!-- Comments and rating -->
                    @MvcHtmlString.Create(Model.PluginComments)
                </div>
            </div>
            <div id="proposal" class="col-sm-3" style="background-color: pink; border-color: red">
                <p>Sed ut perspiciatis...</p>
            </div>
        </div>
    </div>
</div>

    @section PageDetailsFooter
{
    @SiteStrings.Shared_LastModified <span id="lastmodified-on" title="@Model.ModifiedOnWithOffset">@Model.ModifiedOnWithOffset</span>.
    }

    @section PluginHead
{
    <!-- Plugins -->
    @Html.Raw(Model.PluginHeadHtml)<!-- End plugins head -->
    }

    @section PluginPreContainer
{
    @MvcHtmlString.Create(Model.PluginPreContainer)
    }

    @section PluginPostContainer
{
    @MvcHtmlString.Create(Model.PluginPostContainer)
    }

    @section PluginFooter
{
    @MvcHtmlString.Create(Model.PluginFooterHtml)
    }
