@model GalleryViewModel
@{
    ViewBag.Title = Model.Title;
}

<div class="container">
    <div class=" row">
        <div class="col-md-10">
            <h4>@Model.Title</h4>
            <table>
                @foreach (PageViewModel page in Model.listPages)
                {
                    <tr>
                        <td class='searchresult-td'>
                            <span class="searchresult-title">
                                <a href="@Url.Action("Index", "Wiki", new { id = page.Id , title = page.EncodedTitle })">@page.Title</a>
                            </span><br />
                            <span class="searchresult-summary">@MvcHtmlString.Create(Model.GetContentSummary(page)) ...</span><br />
                            @MvcHtmlString.Create(@Model.EncodeTags(page))
                            <span>
                                @if (@page.CreatedBy.ToLower() == "explik")
                                {
                                    <span class="searchresult-date">@page.PublishedOn.Date.ToString("dd MMM yyyy") - @page.NbView @SiteStrings.Page_Info_NbView</span>
                                }
                                else
                                {
                                    <span class="searchresult-date">@page.CreatedBy - @page.PublishedOn.Date.ToString("dd MMM yyyy") - @page.NbView @SiteStrings.Page_Info_NbView</span>
                                }
                                <span style="display: inline-block;margin-bottom:-2px;">@MvcHtmlString.Create(@Model.EncodePageRating(@page))</span>
                            </span>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
