﻿@model IEnumerable<PageViewModel>
@{
    string title = string.Format(SiteStrings.Search_Results, ViewData["search"]);
    if (Model.Count() == 0)
    {
        title = string.Format(SiteStrings.Search_NoResults, ViewData["search"]);
    }

    ViewBag.Title = title;
}

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <div class="row pull">

        <div class="col-sm-8">
            @Html.TextBox("q", null, new { placeholder = SiteStrings.Search_PlaceHolder, @class = "form-control" })
        </div>
        <div class="col-sm-4">
            <input type="submit" class="btn btn-primary" value="@SiteStrings.Button_Search" />
        </div>
    </div>
    <div class=" row">
        <div class="col-sm-10">
            <h5>@title</h5>
        </div>
    </div>
    <div class=" row">
        <div class="col-md-10">
            <table class="table table-striped">
                @foreach (PageViewModel page in @Model)
                {
                    <tr class="searchresult">
                        <td class="searchresult-td">
                            <span class="searchresult-title">
                                @MvcHtmlString.Create(PageViewModel.EncodeImageRanking(page.Ranking))
                                @Html.ActionLink(page.Title, "Index", "Wiki", new { id = page.Id, title = page.EncodedTitle }, null)
                            </span>
                            <br />
                            <span class="searchresult-summary">@MvcHtmlString.Create(page.ContentSummary)...</span><br />
                            @MvcHtmlString.Create(page.EncodeTags())

                            <span>
                                @if (page.CreatedBy.ToLower() == "explik")
                                {
                                    <span class="searchresult-date">@page.CreatedOn.ToString("dd/MM/yyyy") - @page.NbView @SiteStrings.Page_Info_NbView</span>
                                }
                                else
                                {
                                    <span class="searchresult-date">@page.CreatedBy - @page.CreatedOn.ToString("dd/MM/yyyy") - @page.NbView @SiteStrings.Page_Info_NbView</span>
                                }
                                <span style="display: inline-block;margin-bottom:-2px;">@MvcHtmlString.Create(page.EncodePageRating())</span>
                            </span>
                            <!-- Courses -->
                            @if (page.AllCourses.Count > 0)
                            {
                                <br />
                                <span class="searchresult-summary">@SiteStrings.Page_Info_Course2</span>
                                for (int idc = 0; idc < page.AllCourses.Count; idc++)
                                {
                                    if (idc < page.AllCourses.Count - 1)
                                    {
                                        <span class="searchresult-tags"><a href="@Url.Action("Index", "Courses", new { id = page.AllCourses[idc].CourseId, title = page.AllCourses[idc].EncodedTitle })">@page.AllCourses[idc].Title</a>;&nbsp;&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="searchresult-tags"><a href="@Url.Action("Index", "Courses", new { id = page.AllCourses[idc].CourseId, title = page.AllCourses[idc].EncodedTitle })">@page.AllCourses[idc].Title</a></span>

                                    }
                                }
                            }

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
