@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

@section ViewHistoryLink
{
    <div id="viewhistory">@Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, null)</div>
}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1 class="pagetitle row">@Model.Title</h1>
        </div>
        <div class="col-sm-3">
            @MvcHtmlString.Create(Model.RatingStars)
        </div>
    </div>
</div>
<hr size=2 align=center width="80%" />
<p>@Model.Summary</p>
<hr size=2 align=center width="80%" />

<div id="pagecontent">
    @MvcHtmlString.Create(Model.ContentAsHtml)
</div>
<hr size=2 align=center width="80%" />

<div id="pageinfo" pageid="@Model.Id">
    <b>@SiteStrings.Page_Info_CreatedBy2</b>
    @Model.CreatedBy<b>@SiteStrings.Page_Info_On</b>
    @Model.CreatedOn.Date.ToString("dd/MM/yyyy")<b>. @SiteStrings.Page_Info_PublishedOn</b>
    @Model.ModifiedOn.Date.ToString("dd/MM/yyyy")<br />
    <a id="pagerate-button" class="btn btn-default btn-sm" href="javascript:;">Rate</a>
    <a id="pagealert-button" class="btn btn-default btn-sm" href="javascript:;">Alert</a>
    <a id="pageshare-button" class="btn btn-default btn-sm" href="javascript:;">Share</a>
</div>

@section PageDetailsFooter
{
    @SiteStrings.Shared_LastModified <span id="lastmodified-on" title="@Model.ModifiedOnWithOffset">@Model.ModifiedOnWithOffset</span>.
}

@section PluginHead
{
    <!-- Plugins -->
    @Html.Raw(Model.PluginHeadHtml)<!-- End plugins head -->
}

@section PluginPreContainer
{
    @MvcHtmlString.Create(Model.PluginPreContainer)
}

@section PluginPostContainer
{
    @MvcHtmlString.Create(Model.PluginPostContainer)
}

@section PluginFooter
{
    @MvcHtmlString.Create(Model.PluginFooterHtml)
}
