@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

@Html.Partial("HeadContentTuiEditorView")

@Html.DialogPartial("PageAddComment", Model)
@Html.DialogPartial("PageRemoveComment", Model)
@Html.DialogPartial("PageAlert", Model)

<script type="text/javascript">
    $(document).ready(function () {
        var span = $(".postRating");
        if (@ViewBag.userrating == 0) {
            $(".rating.stars").css("background-image", 'url("/Assets/CSS/images/grey-green-24.png")');
            $("#submit-rating").css("display", "none");
        }
        else {
            setRating__(span, @ViewBag.userrating);
        }
    });

    function setRating__(span, rating){ // change star display
        span.find('.rating.stars').each(function () {
            var value = parseFloat($(this).attr("value"));
            var imgSrc = $(this).attr("class");
            if (value <= rating) $(this).attr("class", imgSrc.replace("_off", "_on"));
            else $(this).attr("class", imgSrc.replace("_on", "_off"));
        });
    }
</script>


@Html.Hidden("text-login-comment", @SiteStrings.Comment_Login_Before)
@*@Html.Hidden("text-login-rating", @SiteStrings.Rating_Login_Before) -- allow rating even if not logged in*@
<div id="page-view" pageid="@Model.Id" style="visibility:hidden;"></div>
<div id="current-user" name="@ViewBag.currentuser" style="visibility:hidden;"></div>


<!-- Title and page info -->
<div class="row">
    <div class="col-sm-8">

        <h2 class="pagetitle">
            @MvcHtmlString.Create(PageViewModel.EncodeImageRanking(Model.Ranking))
            @Model.Title
        </h2>
        <div id="viewSection"></div>
        <textarea id="Content" style="visibility:hidden;">@Model.Content</textarea>

        <div id="alert" pageid="@Model.Id">
            @if (@ViewBag.useralert == "")
            {
                <a id="pagealert-link" href="javascript:;" style="float:right;"><small>@SiteStrings.Page_Alert_Link</small></a>
            }
            else
            {
                <a id="pagealert-link" href="javascript:;" style="visibility:hidden; display:none; float:right;"><small>@SiteStrings.Page_Alert_Link</small></a>
                <a id="remove-alert" href="javascript:;" style="float:right;"><small id="remove-small">@SiteStrings.Page_Remove_Alert</small></a>
            }
        </div>
    </div>
    <div class="col-sm-4">
        <h2> </h2>
        @MvcHtmlString.Create(@Model.EncodePageAverageRating())
        <p style="color:green;">@Model.NbView @SiteStrings.Page_Info_NbView</p>

        <hr size=2 align=left width="90%" />
        <p>
            <img src="@(Url.Content(@Model.GetPortraitImage()))" border="0" alt="loading" style="float:left;width:40px;height:40px;" />
            @if (Model.CreatedBy.ToLower() != "explik")
            {
                <span style="color:green;padding-left:15px;">@SiteStrings.Page_Info_CreatedBy2 @Model.CreatedBy</span><br />
            }
            <span style="color:green;padding-left:15px;">@SiteStrings.Page_Info_PublishedOn @Model.PublishedOn.Date.ToString("dd/MM/yyyy")</span>
        </p>
        @MvcHtmlString.Create(PageViewModel.EncodeUserHits(Model.UserHits))
    </div>
</div>
<!-- Rating actions -->
<div class="row">
    <div class="col-sm-8">
        @Html.Hidden("text-unrate", @SiteStrings.Page_Link_Unrate)
        @Html.Hidden("text-rate", @SiteStrings.Page_Link_Rate)
        @Html.Hidden("srating", (object)ViewBag.userrating)
        @Html.Hidden("current-rating", (object)ViewBag.userrating)
        @Html.Hidden("rating-removed", @SiteStrings.Rating_removed)
        @Html.Hidden("rating-added", @SiteStrings.Rating_added)
        @Html.Hidden("alert-removed", @SiteStrings.Page_Alert_Removed)
        @Html.Hidden("alert-request", @SiteStrings.Page_Alert_Link)
        <hr size=2 align=left width="100%" style="border-top:3px solid #ddd;" />

        <div id="newrating">
            <h4 style="margin-bottom:0px;">@SiteStrings.Page_Info_My_Rating</h4>
            <div>
                <span id="ratings" class="postRating">
                    @MvcHtmlString.Create(@Model.EncodeUserRating())
                </span>
                <span id="rate-info" style="display:inline-block;color:rgb(120,120,120); font-size:80%;">
                    @MvcHtmlString.Create(@Model.EncodeRateInfo(@ViewBag.userrating))
                </span>
            </div>
            <p>
                <small>
                    <a id="submit-rating" href="javascript:;">
                        @if (@ViewBag.userrating > 0)
                        {
                            @SiteStrings.Page_Link_Unrate
                        }
                        else
                        {
                            @SiteStrings.Page_Link_Rate
                        }
                    </a>
                </small>
            </p>
        </div>
    </div>
</div>

<!-- Comment action -->
<div class="row">
    <div class="col-sm-8">

        <h4 style="margin-bottom:0px;">@SiteStrings.Page_Info_My_Comment_2</h4>
        @if (@ViewBag.usercomment != "")
        {
            <p style="font-size:0.9em">
                @MvcHtmlString.Create(@ViewBag.usercomment)
            </p>
            <p>
                <small>
                    <a id='page-remove-comment-link' href='javascript:;'>
                        @SiteStrings.Comment_Remove_Link
                    </a>
                </small>
            </p>
        }
        else
        {
            <p>
                <small>
                    <a id='page-add-comment-link' href='javascript:;'>
                        @if (@Model.AllComments.Count == 0)
                        {
                            @SiteStrings.Comment_Be_The_First
                        }
                        else
                        {
                            @SiteStrings.Page_Add_Comment
                        }
                    </a>
                </small>
            </p>
        }
    </div>
</div>

<!-- list of comments -->
@MvcHtmlString.Create(@Model.EncodeCommentsHtml())
@section PageComments
{
    <!-- all about comments -->
}

@section PluginHead
{
    <!-- Plugins -->
    @Html.Raw(Model.PluginHeadHtml)<!-- End plugins head -->
}

@section PluginPreContainer
{
    @MvcHtmlString.Create(Model.PluginPreContainer)
}

@section PluginPostContainer
{
    @MvcHtmlString.Create(Model.PluginPostContainer)
}

@section PluginFooter
{
    @MvcHtmlString.Create(Model.PluginFooterHtml)
}
