@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

@section ViewHistoryLink
{
    <div id="viewhistory">@Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, null)</div>
}

@Html.DialogPartial("PageRating", Model)

<script type="text/javascript">
    $(document).ready(function () {
        var span = $(".postRating");
        if (@ViewBag.userrating == 0) {
            $(".rating.stars").css("background-image", 'url("/Assets/CSS/images/grey-bibi-24.png")');
        }
        else {
            setRating__(span, @ViewBag.userrating);
        }
    });

    function setRating__(span, rating){ // change star display
        span.find('.rating.stars').each(function () {
            var value = parseFloat($(this).attr("value"));
            var imgSrc = $(this).attr("class");
            if (value <= rating) $(this).attr("class", imgSrc.replace("_off", "_on"));
            else $(this).attr("class", imgSrc.replace("_on", "_off"));
        });
    }

        // Bind the info icon on each page
    $("#pagerate-button-btn").click(function () {
            Web.Dialogs.openModal("#pagerating");
        });


</script>


<style type="text/css">
    #srating {
        padding-top: 8px;
    }
</style>

<div class="container" id="page-view" pageid="@Model.Id">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="pagetitle">@Model.Title</h2>
            <hr size=2 align=left width="90%" />
            <p align="justify">@Model.Summary</p>
            <hr size=2 align=left width="90%" />

            <div id="pagecontent" style="text-align: justify;text-justify: inter-word">
                @MvcHtmlString.Create(Model.ContentAsHtml)
            </div>
        </div>
        <div class="col-sm-4">
            <h2> </h2>
            @if (@Model.NbRating > 0)
            {
                @MvcHtmlString.Create(@Model.EncodePageRating32(@Model.TotalRating / @Model.NbRating))
            }
            else
            {
                @MvcHtmlString.Create(@Model.EncodePageRating32(0))
            }
            <p>Views: @Model.NbView</p>

            <hr size=2 align=left width="90%" />
            <p><b>@SiteStrings.Page_Info_CreatedBy2</b> @Model.CreatedBy</p>
            @if (@Model.IsControlled)
            {
                <p><b> @SiteStrings.Page_Info_PublishedOn</b>@Model.PublishedOn.Date.ToString("dd/MM/yyyy")</p>
            }
        </div>
    </div>
    <div class="row">
        <div id="pageinfo" class="col-sm-8" pageid="@Model.Id">
            <a id="pagerate-button" href="javascript:;"><small>Comment</small></a><a id="pagealert-button" href="javascript:;" style="float:right;"><small>Alert</small></a>
        </div>
    </div>
    <div class="row">
        @Html.Hidden("text-unrate", @SiteStrings.Page_Link_Unrate)
        @Html.Hidden("text-rate", @SiteStrings.Page_Link_Rate)
        @Html.Hidden("srating", (object)ViewBag.userrating)
        @Html.Hidden("current-rating", (object)ViewBag.userrating)
        <hr size=2 align=left width="90%" />
        <div class="col-sm-2">
            My rating
        </div>
        <div id="newrating" class="col-sm-3">
            <span id="ratings" class="postRating">
                @MvcHtmlString.Create(@Model.EncodeUserRating())
            </span>
            <small><div id="rate-info"> @MvcHtmlString.Create(@Model.EncodeRateInfo(@ViewBag.userrating))</div></small>
        </div>
        <div class="col-sm-2">
            <small>
                <a id="submit-rating" href="javascript:;">
                    @if (@ViewBag.userrating > 0)
                    {
                        @SiteStrings.Page_Link_Unrate
                    }
                    else
                    {
                        @SiteStrings.Page_Link_Rate
                    }
                </a>
            </small>
        </div>
    </div>
    <div class="row">
        <div id="pagecomments">
            <hr size=2 align=left width="90%" />
            <!-- list of Comments -->
            @MvcHtmlString.Create(@Model.GetCommentsHtml())
        </div>
    </div>
</div>


@section PageDetailsFooter
{
    @SiteStrings.Shared_LastModified <span id="lastmodified-on" title="@Model.ModifiedOnWithOffset">@Model.ModifiedOnWithOffset</span>.
}

@section PluginHead
{
    <!-- Plugins -->
    @Html.Raw(Model.PluginHeadHtml)<!-- End plugins head -->
}

@section PluginPreContainer
{
    @MvcHtmlString.Create(Model.PluginPreContainer)
}

@section PluginPostContainer
{
    @MvcHtmlString.Create(Model.PluginPostContainer)
}

@section PluginFooter
{
    @MvcHtmlString.Create(Model.PluginFooterHtml)
}
