@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

@Html.DialogPartial("PageAddComment", Model)
@Html.DialogPartial("PageRemoveComment", Model)
@Html.DialogPartial("PageAlert", Model)

<script type="text/javascript">
    $(document).ready(function () {
        var span = $(".postRating");
        if (@ViewBag.userrating == 0) {
            $(".rating.stars").css("background-image", 'url("/Assets/CSS/images/grey-bibi-24.png")');
            $("#submit-rating").css("display", "none");
        }
        else {
            setRating__(span, @ViewBag.userrating);
        }
    });

    function setRating__(span, rating){ // change star display
        span.find('.rating.stars').each(function () {
            var value = parseFloat($(this).attr("value"));
            var imgSrc = $(this).attr("class");
            if (value <= rating) $(this).attr("class", imgSrc.replace("_off", "_on"));
            else $(this).attr("class", imgSrc.replace("_on", "_off"));
        });
    }
</script>


<style type="text/css">
    #srating {
        padding-top: 8px;
    }
</style>

@Html.Hidden("text-login-comment", @SiteStrings.Comment_Login_Before)
@Html.Hidden("text-login-rating", @SiteStrings.Rating_Login_Before)
<div id="page-view" pageid="@Model.Id" style="visibility:hidden;"></div>
<div id="current-user" name="@ViewBag.currentuser" style="visibility:hidden;"></div>
<div class="row">
    <div class="col-sm-8">
        <h2 class="pagetitle">@Model.Title</h2>
        <hr size=2 align=left width="90%" />
        <div id="pagecontent" style="text-align: justify;text-justify: inter-word">
            @MvcHtmlString.Create(Model.ContentAsHtml)
        </div>
    </div>
    <div class="col-sm-4">
        <h2> </h2>
        @MvcHtmlString.Create(@Model.EncodePageAverageRating())
        <p style="color:green;">@Model.NbView @SiteStrings.Page_Info_NbView</p>

        <hr size=2 align=left width="90%" />
        <p>
            <img src="@(Url.Content(@Model.GetPortraitImage()))" border="0" alt="loading" style="float:left;width:40px;height:40px;" />
            <span style="color:green;padding-left:15px;">@SiteStrings.Page_Info_CreatedBy2</span> @Model.CreatedBy<br />
            <span style="color:green;padding-left:15px;">@SiteStrings.Page_Info_PublishedOn</span> @Model.PublishedOn.Date.ToString("dd/MM/yyyy")
        </p>
    </div>
</div>
<div class="row">
    <div id="pageinfo" class="col-sm-8" pageid="@Model.Id">

        <a id="pagealert-link" href="javascript:;" style="float:right;"><small>Alert</small></a>
    </div>
</div>
<div class="row col-sm-8">
    @Html.Hidden("text-unrate", @SiteStrings.Page_Link_Unrate)
    @Html.Hidden("text-rate", @SiteStrings.Page_Link_Rate)
    @Html.Hidden("srating", (object)ViewBag.userrating)
    @Html.Hidden("current-rating", (object)ViewBag.userrating)
    @Html.Hidden("rating-removed", @SiteStrings.Rating_removed)
    @Html.Hidden("rating-added", @SiteStrings.Rating_added)
    <hr size=2 align=left width="100%" />
    <div id="newrating">
        <table>
            <tr>
                <td style="min-width:110px;">@SiteStrings.Page_Info_My_Rating &nbsp;</td>
                <td style="display:inline-flex;">
                    <span id="ratings" class="postRating">
                        @MvcHtmlString.Create(@Model.EncodeUserRating())
                    </span>
                    <span id="rate-info" style="padding-left:25px; display:inline-block;color:rgb(180,180,180);"><small>@MvcHtmlString.Create(@Model.EncodeRateInfo(@ViewBag.userrating))</small></span>
                </td>

            </tr>
            <tr>
                <td></td>
                <td style="min-height:25px">
                    <small>
                        <a id="submit-rating" href="javascript:;" style="display:inline-block;">
                            @if (@ViewBag.userrating > 0)
                            {
                                @SiteStrings.Page_Link_Unrate
                            }
                            else
                            {
                                @SiteStrings.Page_Link_Rate
                            }
                        </a>
                    </small>

                </td>
            </tr>
            <!-- My comment-->
            <tr>
                <td style="vertical-align:top; min-width:110px; padding-top:20px">@SiteStrings.Page_Info_My_Comment_2</td>
                <td style="padding-top:20px">
                    @if (@ViewBag.usercomment != "")
                    {
                        <small>
                            @MvcHtmlString.Create(@ViewBag.usercomment)
                            <div>
                                <a id='page-remove-comment-link' href='javascript:; '>
                                    @SiteStrings.Comment_Remove_Link
                                </a>
                            </div>
                        </small>
                    }
                    else
                    {
                        <small>
                            <a id='page-add-comment-link' href='javascript:; '>
                                @if (@Model.AllComments.Count == 0)
                                {
                                    @SiteStrings.Comment_Be_The_First
                                }
                                else
                                {
                                    @SiteStrings.Page_Add_Your_Comment
                                }
                            </a>
                        </small>
                    }
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <hr size=2 align=left width="100%" />
</div>

@MvcHtmlString.Create(@Model.EncodeCommentsHtml())

@section PageComments
{
    <!-- all about comments -->
}

@section PluginHead
{
    <!-- Plugins -->
    @Html.Raw(Model.PluginHeadHtml)<!-- End plugins head -->
}

@section PluginPreContainer
{
    @MvcHtmlString.Create(Model.PluginPreContainer)
}

@section PluginPostContainer
{
    @MvcHtmlString.Create(Model.PluginPostContainer)
}

@section PluginFooter
{
    @MvcHtmlString.Create(Model.PluginFooterHtml)
}
