@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

<script type="text/javascript">
    function ConfirmDeletePage(pId) {
        var confirmMessage = $("#confirm-delete-text").attr("value");
        var successMessage = $("#delete-success").attr("value");
        Roadkill.Web.Dialogs.confirm(confirmMessage, function (result) {

            if (!result)
                return;
            // Ajax request
            $.ajax({
                type: "POST",
                url: "/Pages/DeletePage",
                data: { id: pId },
                success: function (response) {
                    toastr.success(successMessage);
                    setTimeout(
                        function () {
                            window.location.href = "/Pages/MyPages";
                        }, 1000);
                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    }
</script>


@Html.Partial("HeadContentTuiEditorView")

@Html.Hidden("confirm-unpublish-text", @SiteStrings.MyPages_Confirm_Unpublish)
@Html.Hidden("confirm-delete-text", @SiteStrings.MyPage_Confirm_Delete)
@Html.Hidden("delete-success", @SiteStrings.MyPage_DeleteSuccess)

<div class="row">
    <div class="col-sm-8">
        <h1 class="pagetitle">@Model.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-9">
        <div id="viewSection"></div>
        <textarea id="Content" style="visibility:hidden;">@Model.Content</textarea>
    </div>
</div>


<div class="row">
    <div class="col-sm-6" style="padding-top:15px;">

        @if (Model.CompetitionInfo != "")
        {
            <div class="alert alert-info">
                @Model.CompetitionInfo
            </div>
        }
    </div>
    <div class="col-sm-6" style="padding-top:20px;display:inline-flex;">
        <span style="margin-top:10px;">@SiteStrings.MyPage_Status&nbsp;@MvcHtmlString.Create(Model.Status)</span>

        @if (Model.ModificationsEnable)
        {
            if (@Model.IsDraft)
            {
                <span style="float:right; margin-left:10px;">@Html.ActionLink(SiteStrings.Shared_EditLink, "Edit", "Pages", new { id = Model.Id }, new { @class = "btn btn-mini btn-primary" })</span>
                <span style="float:right; margin-left:10px;">@Html.ActionLink(SiteStrings.Shared_SubmitLink, "Submit", "Pages", new { id = Model.Id, view = "MyPage" }, new { @class = "btn btn-mini btn-primary" })</span>
                @*<button style="float:right; margin-left:10px;" class="btn btn-primary btn-mini" onclick="SubmitPage('@Model.Id')">@SiteStrings.Shared_SubmitLink</button>*@
            }
            if (@Model.IsPublished)
            {
                <button style="float:right; margin-left:10px;" class="btn btn-warning btn-mini" onclick="ConfirmGetbackPage('@Model.Id', 'mypage')">@SiteStrings.Shared_UnpublishLink</button>
            }
            if (@Model.IsSubmitted)
            {
                <span style="float:right; margin-left:10px;">@Html.ActionLink(SiteStrings.Shared_EditLink, "Edit", "Pages", new { id = Model.Id }, new { @class = "btn btn-mini btn-primary" })</span>
            }
        }
        <a href="#" onclick="ConfirmDeletePage('@Model.Id', 'mypage')" style="margin-top:10px;margin-left:10px;">@SiteStrings.Shared_DeleteLink</a>

    </div>
</div>
<br />
