
@model PageViewModel
@{
    ViewBag.Title = Model.Title;
}

@section ViewHistoryLink
{
    <div id="viewhistory">@Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, null)</div>
}

<div class="row">
    <div class="col-sm-8">
        <h1 class="pagetitle">
            <table style="width:100%">
                <tr>
                    <td>@Model.Title</td>
                </tr>
            </table>
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-sm-9">
        <div id="pagecontent">
            @MvcHtmlString.Create(Model.ContentAsHtml)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9" style="padding-top:20px;">
        <span style="float:right; margin-left:10px; @Model.EditBtnHidden">@Html.ActionLink(SiteStrings.Shared_EditLink, "Edit", "Pages", new { id = Model.Id }, new { @class = "btn btn-mini btn-primary" })</span>
        <span style="float:right; margin-left:10px; @Model.SubmitBtnHidden">@Html.ActionLink(SiteStrings.Shared_SubmitLink, "Submit", "Pages", new { id = Model.Id }, new { @class = "btn btn-mini btn-primary" })</span>
        <span style="float:right; margin-left:10px; @Model.DraftBtnHidden">@Html.ActionLink(SiteStrings.Shared_DraftLink, "Draft", "Pages", new { id = Model.Id }, new { @class = "btn btn-mini btn-primary" })</span>
    </div>
</div>




@section PluginHead
{
<!-- Plugins -->
@Html.Raw(Model.PluginHeadHtml)<!-- End plugins head -->
}

@section PluginPreContainer
{
    @MvcHtmlString.Create(Model.PluginPreContainer)
}

@section PluginPostContainer
{
    @MvcHtmlString.Create(Model.PluginPostContainer)
}

@section PluginFooter
{
    @MvcHtmlString.Create(Model.PluginFooterHtml)
}
