@inherits RoadkillLayoutPage
<!DOCTYPE html>
<html lang="en">
<head>
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@Html.Partial("HeadContent")
	@RenderSection("PluginHead", false)

    <script type="text/javascript">

</script>

    <style type="text/css">
        div#map_canvas {
            height: 500px;
            width: 800px;
            position: absolute !important;
            left: 500px;
            top: 0;
        }

/* star 16 rating system 
.rating { text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; display: inline-block; width: 8px; height: 16px; }
.rating.stars { background-image: url('/Assets/CSS/images/star_rating.png');}
.rating.stars.active {  cursor:pointer;}
.star-left_off { background-position: -0px -0px; }
.star-left_on { background-position: -16px -0px; }
.star-right_off { background-position: -8px -0px; }
.star-right_on { background-position: -24px -0px; }
    */


.rating16 { text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; display: inline-block; width: 8px; height: 16px; }
.rating16.stars16 { background-image: url('/Assets/CSS/images/grey-yellow-16.png');}
.rating16.stars16.active {  cursor:pointer;}
.star16-left_off { background-position: -0px -0px; }
.star16-left_on { background-position: -16px -0px; }
.star16-right_off { background-position: -8px -0px; }
.star16-right_on { background-position: -24px -0px; }




.rating { text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; display: inline-block; width: 12px; height: 24px; }
.rating.stars { background-image: url('/Assets/CSS/images/grey-yellow-24.png');}
.rating.stars.active {  cursor:pointer;}
.star-left_off { background-position: -0px -0px; }
.star-left_on { background-position: -24px -0px; }
.star-right_off { background-position: -12px -0px; }
.star-right_on { background-position: -36px -0px; }



.rating48 { text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; display: inline-block; width: 24px; height: 48px; }
.rating48.stars48 { background-image: url('/Assets/CSS/images/grey-yellow-48.png');}
.rating48.stars48.active {  cursor:pointer;}
.star48-left_off { background-position: -0px -0px; }
.star48-left_on { background-position: -48px -0px; }
.star48-right_off { background-position: -24px -0px; }
.star48-right_on { background-position: -72px -0px; }

.rating32 { text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; display: inline-block; width: 16px; height: 32px; }
.rating32.stars32 { background-image: url('/Assets/CSS/images/grey-yellow-32-3.png');}
.rating32.stars32.active {  cursor:pointer;}
.star32-left_off { background-position: -0px -0px; }
.star32-left_on { background-position: -32px -0px; }
.star32-right_off { background-position: -16px -0px; }
.star32-right_on { background-position: -48px -0px; }

.container {
  background-color: #fbfafa;
}
/*.meta-title{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:100%;font-size:.9375rem;font-weight:700;margin-bottom:.3125rem}*/
    </style>

</head>
<body>
	<!-- Header -->
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
	<div id="header-wrapper">
		<div class="container">
			<div id="login-status">
				@Html.Action("LoggedInAs", "User")
			</div>
			<div id="bootstrap-nav-menu">
				@Html.Action("BootstrapNavMenu", "Home")
			</div>
			<div id="search" class="searchbar navbar-right hidden-xs hidden-sm">
				<input type="text" name="q" placeholder="@SiteStrings.Search_PlaceHolder" class="form-control" />
			</div>
		</div>
	</div>
}

@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
	<!-- Search bar for tablets and below -->
	<div class="container hidden-lg hidden-md">
		<div class="row">
			<div id="search-mobile" class="searchbar">
				<input type="text" name="q" placeholder="@SiteStrings.Search_PlaceHolder" class="form-control" />
			</div>
		</div>
	</div>
}

	<!-- Content -->
	<div id="content-wrapper">
		@RenderSection("PluginPreContainer", false)

        <div id="container" class="container">

            <div id="content">
                @RenderBody()
            </div>
        </div>

		@RenderSection("PluginPostContainer", false)

	</div>


	<!-- Footer -->
	<div id="footer-wrapper">
		<div id="footer-inner">
			<div class="container">
				<div class="row">
					<div class="col-md-11">
						<h6 id="powered-by">@SiteStrings.Shared_PoweredBy (@ApplicationSettings.ProductVersion).</h6>
						<h6>
							@RenderSection("PageDetailsFooter", false)
							@RenderSection("ViewHistoryLink", false)
						</h6>
					</div>
					<div id="top-link" class="col-md-1">
						<h6><a href="#">Top</a></h6>
					</div>
				</div>

				@RenderSection("PluginFooter", false)
			</div>
		</div>
	</div>
</body>
</html>
