
@model IEnumerable<PageViewModel>
@{
    ViewBag.Title = "TODO";
}

<div class=" row">
    <div class="col-md-10">

        <h3>@ViewBag.competitionTitle</h3>
        @if (ViewBag.CompetitionContent != "")
        {
            <div id="pagecontent" style="text-align: justify;text-justify: inter-word">
                @MvcHtmlString.Create(ViewBag.CompetitionContent)
            </div>
        }
        <br />

        <h4>@SiteStrings.Competition_ListPagesTitle</h4>
        <br />
        <table>
            @foreach (PageViewModel page in Model)
            {
                <tr>
                    <td class='searchresult-td'>
                        <span class="searchresult-title">
                            <a href="@Url.Action("Index", "Wiki", new { id = page.Id , title = page.EncodedTitle })">@page.Title</a>
                        </span><br />
                        <span class="searchresult-summary">@MvcHtmlString.Create(page.ContentSummary) ...</span><br />
                        @MvcHtmlString.Create(PageViewModel.EncodeTags(page))
                        <span>
                            <span class="searchresult-date">@page.CreatedBy - @page.PublishedOn.Date.ToString("dd/MM/yyyy") - @page.NbView @SiteStrings.Page_Info_NbView</span>
                            <span style="display: inline-block;margin-bottom:-2px;">@MvcHtmlString.Create(PageViewModel.EncodePageRating(page))</span>
                        </span>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>