
@model CommentViewModel
@{
    ViewBag.Title = @SiteStrings.CommentPage_Title;
}

<h1>@SiteStrings.Comment_Title</h1>

<div class="row">
    <div class="col-lg-8">
        
        @*@Html.BootstrapValidationSummary(SiteStrings.Login_Unsuccessful_Title)*@ 

        <div id="ratecomment" class="lightborder rounded10">

            <form class="form-horizontal" role="form" method="post">
                @Html.Hidden("srating", Model.Rating)

                <div class="form-group">
                    <label for="rating" class="col-lg-2 control-label">@SiteStrings.Rate_Title</label>
                    <div id="newrating" class="col-lg-10 form-control" value="@Model.Rating">
                        <span class="postRating">
                            @MvcHtmlString.Create(@Model.EncodeCommentRating())<span id="rate-info"></span>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="comment" class="col-lg-2 control-label">@SiteStrings.Comment_Title</label>
                    <div class="col-lg-10">
                        @Html.TextArea("comment", null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-12">
                        <input type="submit" class="btn btn-primary right" value="@SiteStrings.Button_Submit" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>