@model CourseViewModel
@{
    ViewBag.Title = SiteStrings.EditCourse_Title;
}


<script type="text/javascript">

    $(document).ready(function () {

        function show_hide_arrows() {

           var lastRow = @Model.CoursePagesModels.Count - 1;
            $('tr.trtable').each(function(index, r) {

                var updown = $(this).find(".updown");
                updown.find(".up").show()
                updown.find(".down").show()
                if (index == lastRow) {
                    updown.find(".down").hide();
                }
                if (index == 0) {
                    updown.find(".up").hide();
                }
            });
        }

        function update_model_order() {

            $('tr.trtable').each(function (index, r) {
                var modelitem = $(this).find(".model-item");
                var rrr = modelitem.attr("value");
                var ident = "#CoursePagesModels_" + rrr + "__Order";
                //var val1 = $(ident).attr("value");
                $(ident).attr("value", index);
                //var val2 = $(ident).attr("value");
            });
        }

        $('.up,.down').click(function () {

            var row = $(this).parents('tr:first');
            if ($(this).is('.up')) {
                row.insertBefore(row.prev());
            }
            else {
                row.insertAfter(row.next());
            }

            show_hide_arrows();

            // update model
            update_model_order();
        });

        // do it at the beginning
        show_hide_arrows();

    });
</script>


<div id="editcourse" class="row">
    <div id="editpage-form-container">
        @Html.BootstrapValidationSummary(SiteStrings.EditCourse_Error)

        <form class="form-horizontal" role="form" method="post" id="editpage-form">

            <div class="form-group">
                <div class="col-sm-12">
                    <label for="Title">@SiteStrings.EditCourse_Title_Label</label>
                    @(Html.BootstrapTextBoxFor<CourseViewModel, string>(p => p.Title, SiteStrings.EditCourse_Title_Label, false, 1))
                </div>
            </div>

            @(Html.HiddenFor<CourseViewModel, int>(p => p.CourseId))
            @(Html.HiddenFor<CourseViewModel, string>(p => p.PreviousTitle))

            @* Add list of pages in the course *@
            @if (Model.CoursePagesModels.Count() > 0)
            {
                for (int item = 0; item < Model.CoursePagesModels.Count; item++)
                {
                    // hide useful values for POST
                    @Html.HiddenFor(m => m.CoursePagesModels[item].Order)
                    @Html.HiddenFor(m => m.CoursePagesModels[item].Id)
                    @Html.HiddenFor(m => m.CoursePagesModels[item].Page.Id)
                }

                <p>
                    @SiteStrings.Courses_ChangeSelection   @Html.ActionLink(SiteStrings.Course_BtnSelect, "SelectPages", new { id = Model.CourseId, title = Model.Title }, new { @class = "btn btn-primary btn-sm" })
                </p>
                <p>
                    @SiteStrings.Courses_InfoSort
                </p>

                <table id="table-page" class="table table-striped">
                    <thead>
                        <tr>
                            <th>@SiteStrings.AllCourses_TitleColumnHeading</th>
                            <th>@SiteStrings.MyCourses_Tags</th>
                            <th>@SiteStrings.MyCourses_Status_Title</th>
                            <th>@SiteStrings.MyCourses_Sort_Title</th>
                            <th type="hidden"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int item = 0; item < Model.CoursePagesModels.Count; item++)
                        {
                            <tr class="trtable">
                                <td>@Html.ActionLink(Model.CoursePagesModels[item].Page.Title, "Index", "Wiki", new { id = Model.CoursePagesModels[item].Page.Id, title = Model.CoursePagesModels[item].Page.EncodedTitle }, null)</td>
                                <td>@MvcHtmlString.Create(Model.CoursePagesModels[item].Page.RawTags)</td>
                                <td>@MvcHtmlString.Create(Model.CoursePagesModels[item].Page.Status)</td>
                                <td class="updown">
                                    <a class="down glyphicon glyphicon-arrow-down" href="javascript:void(0)"></a>
                                    <a class="up glyphicon glyphicon-arrow-up" href="javascript:void(0)"></a>
                                </td>
                                <td class="model-item" type="hidden" value="@item"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>@SiteStrings.AllCourses_NoPages</p>
                <p>
                    @SiteStrings.Courses_SelectPages   @Html.ActionLink(SiteStrings.Course_BtnSelect, "SelectPages", new { id = Model.CourseId, title = Model.Title }, new { @class = "btn btn-primary btn-sm" })
                </p>

                <p> </p>
            }
            <div class="row">
                <div class="col-sm-10">
                    <h6><a href="javascript:history.back()">< @SiteStrings.Shared_Back_Link</a></h6>
                </div>
                <div class="col-sm-2">
                    <input type="submit" class="btn btn-primary saveButton" value="@SiteStrings.Button_Save" tabindex="6" />
                </div>
            </div>
        </form>
    </div>

</div>
