@model CourseSelectionViewModel
@{
    ViewBag.Title = SiteStrings.AllMyPages_Title;
}

<script type="text/javascript">
    $(function () {
        Roadkill.Web.Setup.bindConfirmDelete();
    });
</script>


@if (Model.Pages.Count > 0)
{
    <form class="form-horizontal" role="form" method="post" id="selectpage-form">
        @Html.HiddenFor(m => m.CourseId)

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@SiteStrings.MyPages_Action_Title</th>
                    <th>@SiteStrings.AllPages_TitleColumnHeading</th>
                    <th>@SiteStrings.MyPages_Tags</th>
                    <th>@SiteStrings.MyPages_Course_Title</th>
                    <th>@SiteStrings.MyPages_Status_Title</th>
                </tr>
            </thead>
            @for (var idx = 0; idx < Model.Pages.Count; idx++)
            {
            <tr>
                <td>
                    @Html.HiddenFor(m => m.Pages[idx].Page.Title)
                    @Html.HiddenFor(m => m.Pages[idx].Page.Id)
                    @Html.HiddenFor(m => m.Pages[idx].Page.Title)
                    @Html.CheckBoxFor(m => m.Pages[idx].Selected)
                </td>
                <td class="pagename stretch">@Html.ActionLink(Model.Pages[idx].Page.Title, "Index", "Wiki", new { id = Model.Pages[idx].Page.Id, title = Model.Pages[idx].Page.EncodedTitle }, null)</td>
                <td class="pagename">@MvcHtmlString.Create(Model.Pages[idx].Page.RawTags)</td>
                <td class="pagename">
                    @for (var idc = 0; idc < Model.Pages[idx].Courses.Count; idc++)
                    {
                        @MvcHtmlString.Create(Model.Pages[idx].Courses[idc].Title)
                        if(idc< Model.Pages[idx].Courses.Count-1)
                        {
                            <br />
                        }
                    }
                </td>
                <td class="pagename">@MvcHtmlString.Create(Model.Pages[idx].Page.Status)</td>
            </tr>
            }
        </table>
        <div class="row">
            <div class="col-sm-10">
                <h6><a href="javascript:history.back()">< @SiteStrings.Shared_Back_Link</a></h6>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary saveButton" value="@SiteStrings.Button_Save" tabindex="6" />
            </div>
        </div>
    </form>
}
else
{
    <p>@SiteStrings.AllPages_NoPages</p>
}
