@model PageViewModel
@{
    ViewBag.Title = SiteStrings.ControlPage_Title;
}

<script type="text/javascript">
    $(document).ready(function () {
        var pageTags = [ @(Html.Raw(Model.JavascriptArrayForAllTags()))];
        var editPage = new Roadkill.Web.EditPage(pageTags);
        $("#reject-page").hide();
        $("#valid-page").show();
    });
    $(document).on('change', 'input:radio[id^="q_op_"]', function (event) {
        if ($("input[name='op']:checked").val() == 'validate') {
            $("#valid-page").show();
            $("#reject-page").hide();
            $("#btnSubmit").attr("value", "Validate");
            $("#svalidated").val("true");
        }
        if ($("input[name='op']:checked").val() == 'reject') {
            $("#valid-page").hide();
            $("#reject-page").show();
            $("#btnSubmit").attr("value", "Reject");
            $("#svalidated").val("false");
        }
    });

</script>
<style>
    .searchbar {
        display: none;
    }
</style>

<div class="container">

    <!-- Title and user info -->
    <div class="row">
        <div class="col-sm-8">
            <div id="controlpage" pageid="@Model.Id">
                <h2 class="pagetitle">@Model.Title</h2>

                <div id="pagecontent__">
                    @MvcHtmlString.Create(Model.ContentAsHtml)
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h2 class="pagetitle"> </h2>
            <p>
                <b>Author:</b> @Model.CreatedBy<br />
                <b>Author since:</b> @Model.GetUserActivity().OldestPageDate.ToString("dd/MM/yyy")<br />
                <b>Nb page published:</b> @Model.GetUserActivity().NbPublications<br />
                <b>Global rating:</b> @Model.GetUserActivity().GlobalRating
            </p>
        </div>
    </div>

    <!-- History link -->
    <div id="viewhistory">@Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, null)</div>
    <hr />

    <!-- Controlling features -->
    <div id="editpage" class="row">
        <div class="col-sm-7">
            <div id="q_opt" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active" id="radio-validate">
                    <input id="q_op_0" name="op" type="radio" value="validate">@SiteStrings.ControlPage_Validate_Radio_Button
                </label>
                <label class="btn btn-default" id="radio-reject">
                    <input id="q_op_1" name="op" type="radio" value="reject">@SiteStrings.ControlPage_Reject_Radio_Button
                </label>
            </div>
            <hr />
            <form role="form" method="post">
                @Html.BootstrapValidationSummary(SiteStrings.EditPage_Error)
                @Html.Hidden("svalidated", "true")
                @Html.Hidden("srating", Model.Rating)
                @Html.Hidden("RawTags", Model.RawTags)
                <input type="hidden" id="scanvas" name="scanvas" value="">

                <div id="valid-page">

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label for="tags" class="control-label">@SiteStrings.ControlPage_Handle_Tags</label>
                            </div>
                            <div class="col-sm-7">
                                @(Html.TextBox("TagsEntry", null, new { @class = "form-control tm-input", autocomplete = "off", tabindex = 2, placeholder = SiteStrings.EditPage_Tags_Label }))
                                <br>
                            </div>
                        </div>
                    </div>


                    @*@<div class="row">
                <div class="col-sm-5">
                    <button id="buttoncanvas" type="button" class="btn btn-info control-label">
                        @SiteStrings.ControlPage_Canvas_Preview_Button
                    </button>
                </div>
                <div class="col-sm-7">
                    <img id="canvas-preview" src="" height="120" />
                </div>
            </div>*@
                </div>

                <div id="reject-page">
                    <label for="RejectReason">@SiteStrings.Page_Select_Reject</label>

                    <input id="rejecttype" type="hidden" name="rejecttype" value="language">
                    <div class="radio">
                        <label><input type="radio" id="reject1" name="optreject" value="@ViewBag.AlertLanguage" checked>@SiteStrings.Reject_Reason_Language</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="reject2" name="optreject" value="@ViewBag.AlertPublicity">@SiteStrings.Reject_Reason_Publicity</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="reject3" name="optreject" value="@ViewBag.AlertRespect">@SiteStrings.Reject_Reason_Disrespectful</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="reject4" name="optreject" value="@ViewBag.AlertControversial">@SiteStrings.Reject_Reason_Controversial</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="reject5" name="optreject" value="@ViewBag.AlertOther">@SiteStrings.Reject_Reason_Other</label>
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    <input type="submit" id="btnSubmit" class="btn btn-primary right" value="@SiteStrings.Button_Validate" />
                </div>
            </form>
        </div>
    </div>
</div>

@*@section ViewHistoryLink
    {
        TODO for controls
    }*@

