@model PageViewModel
@{
    ViewBag.Title = SiteStrings.ControlPage_Title;
}

@Html.Partial("HeadContentTuiEditorView")

<script type="text/javascript">
    $(document).ready(function () {
        var pageTags = [ @(Html.Raw(Model.JavascriptArrayForAllTags()))];
        var editPage = new Roadkill.Web.EditPage(pageTags);
        $("#reject-page").hide();
        $("#valid-page").show();
    });

    $(document).on('change', 'input:radio[id^="q_op_"]', function (event) {
        if ($("input[name='op']:checked").val() == 'validate') {
            $("#valid-page").show();
            $("#reject-page").hide();
            $("#btnSubmit").attr("value", "Validate");
            $("#svalidated").val("true");
        }
        if ($("input[name='op']:checked").val() == 'reject') {
            $("#valid-page").hide();
            $("#reject-page").show();
            $("#btnSubmit").attr("value", "Reject");
            $("#svalidated").val("false");
        }
    });

</script>
<style>
    .searchbar {
        display: none;
    }

    ul.ui-autocomplete {
        /*color: green !important;*/
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

    .ui-menu li {
        /*list-style-type: none;
        display: inline;*/
        line-height: 1;
    }
</style>

<div class="container">

    <!-- Title and user info -->
    <div class="row">
        <div class="col-sm-8">
            <div id="controlpage" pageid="@Model.Id">
                <h2 class="pagetitle">@Model.Title</h2>
                <div id="viewSection"></div>
                <textarea id="Content" style="visibility:hidden;">@Model.Content</textarea>
            </div>
        </div>
        <div class="col-sm-4">
            <h2 class="pagetitle"> </h2>
            <p>
                <b>Author:</b> @Model.CreatedBy<br />
                <b>Author since:</b> @Model.GetUserActivity().OldestPageDate.ToString("dd/MM/yyyy")<br />
                <b>Nb page published:</b> @Model.GetUserActivity().NbPublications<br />
                <b>Global rating:</b> @Model.GetUserActivity().GlobalRating
            </p>
        </div>
    </div>

    <!-- History link -->
    <div id="viewhistory">@Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, null)</div>
    <hr />

    <!-- Controlling features -->
    <div id="editpage" class="row">
        <div class="col-sm-7">
            <div id="q_opt" class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active" id="radio-validate">
                    <input id="q_op_0" name="op" type="radio" value="validate">@SiteStrings.ControlPage_Validate_Radio_Button
                </label>
                <label class="btn btn-default" id="radio-reject">
                    <input id="q_op_1" name="op" type="radio" value="reject">@SiteStrings.ControlPage_Reject_Radio_Button
                </label>
            </div>
            <hr />
            <form role="form" method="post">
                @Html.BootstrapValidationSummary(SiteStrings.EditPage_Error)
                @Html.Hidden("svalidated", "true")
                @*@Html.Hidden("RawTags", Model.RawTags)*@
                @(Html.HiddenFor<PageViewModel, string>(p => p.CreatedBy))
                @(Html.HiddenFor<PageViewModel, string>(p => p.Title))
                @(Html.HiddenFor<PageViewModel, string>(p => p.RawTags))


                <div id="valid-page">

                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-5">
                                <label for="tags" class="control-label">@SiteStrings.ControlPage_Handle_Tags</label>
                            </div>
                            <div class="col-sm-7">
                                @(Html.TextBox("TagsEntry", null, new { @class = "form-control tm-input", autocomplete = "off", tabindex = 2, placeholder = SiteStrings.EditPage_Tags_Label }))
                                <br>
                            </div>
                        </div>
                    </div>
                    <hr />

                    @*do not display the rating if already rated*@
                    @if (Model.NbRating == 0)
                    {
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label for="ControllerRating" class="control-label">Controller Rating [0;5]</label>
                                </div>
                                <div class="col-sm-7">
                                    @(Html.TextBoxFor(p => p.ControllerRating, "", 3))
                                    <br>
                                </div>
                            </div>
                        </div>
                    }

                    <hr />
                    @if (Model.IsInCompetition)
                    {
                        // controller can change the participation to the competition if subjects are too different
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-5">
                                    <label for="IsInCompetition" class="control-label">@SiteStrings.EditPage_ParticipateToCompetition</label>
                                </div>
                                <div class="col-sm-7">
                                    <label for="IsInCompetition">
                                        @(Html.BootstrapCheckBoxFor<PageViewModel>(p => p.IsInCompetition, "", 3))
                                        @Html.ActionLink((string)ViewBag.CompetitionLabel, "About", "Home", new { tag = ViewBag.CompetitionPageTag }, new { target = "_blank" })
                                    </label>
                                    <br />

                                    <br>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <hr />

                <div class="form-group">
                    <input type="submit" id="btnSubmit" class="btn btn-primary right" value="@SiteStrings.Button_Validate" />
                </div>
            </form>
        </div>
    </div>
</div>


@*@section ViewHistoryLink
    {
        TODO for controls
    }*@

