@model IEnumerable<PageViewModel>
@{
    ViewBag.Title = SiteStrings.AllMyPages_Title;
}

    <script type="text/javascript">
		$(function () {
			Roadkill.Web.Setup.bindConfirmDelete();
		});
    </script>


<h1>@SiteStrings.AllMyPages_Title</h1>

@if (Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@SiteStrings.AllPages_TitleColumnHeading</th>
                <th>@SiteStrings.MyPages_Status_Title</th>
                @if (RoadkillContext.IsLoggedIn)
                {
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                }
            </tr>
        </thead>
        @foreach (PageViewModel pageModel in Model)
        {
        <tr>
            <td class="pagename stretch">@Html.ActionLink(pageModel.Title, "Index", "Wiki", new { id = pageModel.Id, title = pageModel.EncodedTitle }, null)</td>
            <td class="pagename stretch">@pageModel.Status</td>
            @if (RoadkillContext.IsLoggedIn)
            {
                <td class="edit">@Html.ActionLink(SiteStrings.Shared_EditLink, "Edit", new { id = pageModel.Id }, new { @class = "btn btn-mini btn-primary " + @pageModel.EditBtnAttribute })</td>
                <td class="submit">@Html.ActionLink(SiteStrings.Shared_SubmitLink, "Submit", new { id = pageModel.Id }, new { @class = "btn btn-mini btn-primary " + @pageModel.SubmitBtnAttribute })</td>
                <td class="draft">@Html.ActionLink(SiteStrings.Shared_DraftLink, "Draft", new { id = pageModel.Id }, new { @class = "btn btn-mini btn-primary " + @pageModel.DraftBtnAttribute })</td>
                <td class="delete">@Html.ActionLink(SiteStrings.Shared_DeleteLink, "Delete", new { id = pageModel.Id })</td>
            }
        </tr>
        }
    </table>
}
else
{
    <p>@SiteStrings.AllPages_NoPages</p>
}