@model PageViewModel
@{
    ViewBag.Title = SiteStrings.ControlPage_Title;
}

@Html.Partial("HeadContentTuiEditorView")


<style>
    .searchbar {
        display: none;
    }
</style>

<div class="container">

    <!-- Title and user info -->
    <div class="row">
        <div class="col-sm-8">
            <div id="controlpage" pageid="@Model.Id">
                <h2 class="pagetitle">@Model.Title</h2>

                <div id="viewSection"></div>
                <textarea id="Content" style="visibility:hidden;">@Model.Content</textarea>
            </div>
        </div>
    </div>

    <!-- History link -->
    <div id="viewhistory">@Html.ActionLink(SiteStrings.Navigation_ViewHistory, "History", "Pages", new { id = Model.Id }, null)</div>
    <hr />

    <!-- Controlling features -->
    <form role="form" method="post">
        <div id="editpage" class="row">
            <div class="col-sm-8">
                @Html.BootstrapValidationSummary(SiteStrings.EditPage_Error)
                @Html.Hidden("svalidated", "true")
                @Html.Hidden("srating", Model.Rating)
                @Html.Hidden("RawTags", Model.RawTags)

                @Html.Hidden("id", Model.Id)

                <label for="HeadContent">@SiteStrings.Page_Select_Reject</label>
                <input id="rejecttype" type="hidden" name="rejecttype" value="language">
                <div class="radio">
                    <label><input type="radio" id="reject1" name="optreject" value="@ViewBag.AlertLanguage" checked>@SiteStrings.Reject_Reason_Language</label>
                </div>
                <div class="radio">
                    <label><input type="radio" id="reject2" name="optreject" value="@ViewBag.AlertPublicity">@SiteStrings.Reject_Reason_Publicity</label>
                </div>
                <div class="radio">
                    <label><input type="radio" id="reject3" name="optreject" value="@ViewBag.AlertRespect">@SiteStrings.Reject_Reason_Disrespectful</label>
                </div>
                <div class="radio">
                    <label><input type="radio" id="reject4" name="optreject" value="@ViewBag.AlertControversial">@SiteStrings.Reject_Reason_Controversial</label>
                </div>
                <div class="radio">
                    <label><input type="radio" id="reject5" name="optreject" value="@ViewBag.AlertOther">@SiteStrings.Reject_Reason_Other</label>
                </div>
            </div>
        </div>
        <hr />
        <div id="editpage" class="row">
            <div class="col-sm-8">

                <a href="javascript:history.back()">&lt; @SiteStrings.Shared_Back_Link</a>
                <input type="submit" id="btnreject" class="btn btn-primary right" value="@SiteStrings.Button_Reject" />
                <div id="editpage" class="row">
                    <div class="col-sm-8">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
