@model PageViewModel

<div class="modal" id="pagealert" role="dialog" aria-describedby="Contains meta information about the current page">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="default-header">@Model.Title</h4>
            </div>


            @Html.Hidden("id", Model.Id)

            @using (Html.BeginForm("PageAlert", "Pages", FormMethod.Post))
            {
                <div class="modal-body">
                    <label for="HeadContent">@SiteStrings.Page_Select_Alert</label>
                    <input id="alerttype" type="hidden" name="alerttype" value="@SiteStrings.Alert_Language">
                    <div class="radio">
                        <label><input type="radio" id="alert1" name="optalert" value="@SiteStrings.Alert_Language" checked>@SiteStrings.Alert_Reason_Language</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="alert2" name="optalert" value="@SiteStrings.Alert_Publicity">@SiteStrings.Alert_Reason_Publicity</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="alert3" name="optalert" value="@SiteStrings.Alert_Disrespectful">@SiteStrings.Alert_Reason_Disrespectful</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="alert4" name="optalert" value="@SiteStrings.Alert_Controversial">@SiteStrings.Alert_Reason_Controversial</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" id="alert5" name="optalert" value="@SiteStrings.Alert_Other">@SiteStrings.Alert_Reason_Other</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" id="btnSubmit" class="btn btn-primary right" value="@SiteStrings.Button_Submit" />
                </div>
            }
        </div>
    </div>
</div>